.title-border {
    border-bottom: 1px solid #171717;
    padding-bottom: 1rem;
    border: none;
    padding-top: 1.5rem;
}

.title {
    margin-top: 10rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    justify-content: center;
}

.image-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.image-width {
    width: 1000%;
}

@media (min-width: 1024px) {
    .image-width {
        width: 50%;
        padding: 2rem;
    }
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 320px;
    height: 320px;
    overflow: hidden;
    position: relative;
}

.png {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% center;
}

.desc-container {
    width: 100%;
}

@media (min-width: 1024px) {
    .desc-container {
        width: 50%;
    }
}

.desc-about {
    display: flex;
    justify-content: center;
    margin-top: 11rem;
    text-align: justify;

}

@media (min-width: 1024px) {
    .desc-about {
        justify-content: flex-start;
    }
}