.title-border {
    border: none;
    padding-bottom: 3rem;
    padding-top: 5rem;
    width: 100%;
    max-width: 1024px;
}

.title {
    padding-top: 10rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.image-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.fyi {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding-bottom: 2rem;
}

.fyi-box {
    border: 3px solid #262626;
    background-color: #171717;
    padding: 1rem 1rem;
    border-radius: 10px;
}

.fyi-head {
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    background-image: linear-gradient(to right, #f9a8d4, #64748b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.fyi-desc {
    text-align: center;
    font-weight: 500;
}

.image-container {
    flex-shrink: 0;
}

.png {
    border-radius: 3rem;
    max-width: 350px;
    object-fit: cover;
    object-position: 70% center;

}

.desc-about {
    text-align: justify;
    font-size: 15px;
}

@media (max-width: 576px) {

    .title {
        padding-top: 0;
        font-size: 170%;
    }

    .image-flex {
        flex-direction: column;
        gap: 3rem;
    }

    .fyi {
        display: flex;
        justify-content: center;
        gap: 10%;
    }

    .fyi-box {
        padding: 0.5rem 0.5rem;
    }

    .fyi-head {
        font-size: 5vw;
    }

    .fyi-desc {
        font-size: 3vw;
    }

    .desc-about {
        font-size: 3vw;
        max-width: 84%;
        margin: 0 auto;
    }
    

    .png {
        width: 200px;
        height: 200px;
    }
}