.contact {
    border:none;
    padding-top: 15rem;
    padding-bottom: 3rem;
    align-items: center;
}

.contact-title {
    text-align: center;
    padding-bottom: 2rem ;
    font-size: 2.25rem;
}

.quote-container {
  display: flex;           /* jadikan flex container */
  justify-content: center; /* center secara horizontal */
  align-items: center;     /* center secara vertikal */
  text-align: center;      /* center teks */
  margin: 0 auto;          /* center container */
}

.quote-container h1 {
  font-size: large;
  max-width: 65%;         /* batasi lebar teks */
  text-align: center;     /* center teks */
  padding: 0 auto;         /* center container */
}

.contact-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
}

.contact-container a {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: white;
}

@media (max-width: 576px) {
  .contact {
    border:none;
    padding-top: 4rem;
    padding-bottom: 3rem;
    align-items: center;
  }
  .contact-title {
    font-size: 6.5vw;
  }

  .quote-container h1 {
    font-size: 3.5vw;
  }

  .contact-container {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding-top: 3rem;
  }
}