.exp-border {
    padding-top: 12rem;
    width: 100%;
    max-width: 1024px;
    padding-bottom: 5rem;
}

.exp-proj {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

}

.exp-box {
    border: 2px solid #262626;
    border-radius: 40px;
    width: 100%;
    padding: 1.5rem 1.5rem;
}

.exp-box h2 {
    font-size: 32px;
    text-align: left;
    padding-bottom: 2rem;
}

.exp-container {
    padding-bottom: 1rem;
    padding-left: 2.5rem;
}

.role {
    font-size: 16px;
    font-weight: 700;
}

.type {
    font-size: 14px;
    font-weight: 500;
    color: rgb(155, 174, 194);
}

.year {
    font-size: 14px;
    font-weight: 600;
    color: lightslategrey;
    padding-top: 0.1rem;
}

@media (max-width:576px) {
    .exp-border {
        padding-top: 7rem;

    }

    .exp-proj {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .exp-box {
        border: 2px solid #262626;
        border-radius: 40px;
        width: 80%;
        margin: 0 auto;
    }

    .exp-box h2 {
        font-size: 5vw;
        text-align: center;
    }

    .exp-container {
       padding-left: 0;
       margin: 0 3rem;
    }

    .role {
        font-size: 3vw;
        font-weight: 400;
        text-align: center;
    }

    .type {
        font-size: 3vw;
        font-weight: 500;
        text-align: center;
    }

    .year {
        font-size: 3vw;
        font-weight: 600;
        text-align: center;
    }
}