.tech-border {
    padding-top: 8rem;
    border-bottom: 1px solid #262626;
    padding-bottom: 10rem;
    border: none;
}

.tech-title {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
}

.web-dev-container {
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;
}

.web-title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.web-dev {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.prog-container {
    flex-wrap: wrap;
    gap: 1rem;
}

.prog-title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.prog-db {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.border-icon {
    border-radius: 1rem;
    border: 4px solid #262626;
    width: 6rem;   /* ukuran kotak konsisten */
    height: 6rem;
    display: flex;
    align-items: center;   /* vertikal tengah */
    justify-content: center; /* horizontal tengah */
    padding: 0.5rem;   /* kasih ruang aman */
    box-sizing: border-box;
}

.react-icon {
    font-size: 4.5rem;
    line-height: 1;
    color: #22d3ee;
}

.html-icon {
    font-size: 4.5rem;
    line-height: 1;
    color: #e34c26;
}

.css-icon {
    font-size: 4.5rem;
    line-height: 1;
    color: #264de4;
}

.java-icon {
    font-size: 4.5rem;
    line-height: 1;
    color: #e76f00;
}

.javascript-icon {
    font-size: 4.5rem;
    line-height: 1;
    color: #f7df1e;
}

.ts-icon {
    border-radius: 10px;
}
/* python import dri luar jdi gaperlu pke styling css */
/* mySQL import dri luar jdi gaperlu pke styling css */
/* C import dri luar jdi gaperlu pke styling css */

@media (max-width: 576px) {
    .tech-border {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .tech-title {
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-size: 7vw;
    }

    .web-title {
        font-size: 5vw;
    }

    .react-icon {
        font-size: 7vw;
    }

     .html-icon {
        font-size: 7vw;
    }

    .css-icon {
        font-size: 7vw;
    }

    .javascript-icon {
        font-size: 7vw;
    }

    .java-icon {
        font-size: 7vw;
    }

    .border-icon {
        width: 4rem;
        height: 4rem;
        padding: 0.3rem;
    }
}
