.tech-border {
    padding-top: 4rem;
    border-bottom: 1px solid #262626;
    padding-bottom: 6rem;
    border: none;
}

.tech-title {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
}

.web-dev-container {
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;
}

.web-title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.web-dev {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.prog-container {
    flex-wrap: wrap;
    gap: 1rem;
}

.prog-title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.prog-db {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.border-icon {
    border-radius: 1rem;
    border-width: 4px;
    border-color: #262626;
    padding: 1rem;
}

.react-icon {
    font-size: 4.5rem;
    line-height: 1;
    color: #22d3ee;
}

.html-icon {
    font-size: 4.5rem;
    line-height: 1;
    color: #e34c26;
}

.css-icon {
    font-size: 4.5rem;
    line-height: 1;
    color: #264de4;
}

.java-icon {
    font-size: 4.5rem;
    line-height: 1;
    color: #e76f00;
}

.javascript-icon {
    font-size: 4.5rem;
    line-height: 1;
    color: #f7df1e;
}

.ts-icon {
    border-radius: 10px;
}
/* python import dri luar jdi gaperlu pke styling css */
/* mySQL import dri luar jdi gaperlu pke styling css */
/* C import dri luar jdi gaperlu pke styling css */
